.inpt-dev textarea {
    background-color: var(--input-cod);
    color: var(--text);
    font-family: var(--robotoMono);
    font-weight: var(--fontPeso);
    border: none;
    margin-top: 24px;

    width: 100%;
    height: 250px;
    resize: none;
}