.menu-hamburguer {
    position: absolute;
    /* top: 85px; */
    right: 16px;
    display: none;
    padding: 24px;
    margin-top: 80px;

    border-radius: 8px;
    background-color: var(--menu-hamburger);

    width: 254px;
    height: calc(100vh - 115px); /* calculo baseado no vh - 112px (80px (margin top) - 32px (padding body)) */
}

.comunidade img {
    background-color: var(--item-normal);
    border-radius: 16px;
}

.comunidade img:hover {
    background-color: var(--item-hover);
}

hr {
    margin: 8px 0 24px 0;
}

@media screen and ( min-width: 1200px ) {
    .container-check {
        display: none;
    }
}