* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #051D3B;
    --btn-highlight: rgba(80, 129, 251, 0.08);
    --btn-save: #5081FB;
    --azul-claro: #6BD1FF;
    --input-cod: #000000;
    --circle1: #FF5F56;
    --circle2: #FFBD2E;
    --circle3: #27C93F;
    --text: #FFFFFF;
    --inter: 'Inter', 'sans-serif';
    --robotoMono: 'Roboto Mono', 'monospace';
    --fontPeso: 400,
}

body {
    background-color: var(--background-color);
    padding: 16px;
}