* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --background-color: #051D3B;
    --btn-highlight: rgba(80, 129, 251, 0.08);
    --btn-save: #5081FB;
    --azul-claro: #6BD1FF;
    --input-cod: #000000;
    --circle1: #FF5F56;
    --circle2: #FFBD2E;
    --circle3: #27C93F;
    --text: #FFFFFF;
    --inter: 'Inter', 'sans-serif';
    --robotoMono: 'Roboto Mono', 'monospace';
    --fontPeso: 400;
    --menu-hamburger: #2D415B;
    --background-roxo: #5F75E2;
    --background-rosa: #FF6BCD;
    --background-laranja: #FFC46B;
    --background-verde: #9AFF6B;
}

body {
    background-color: var(--background-color);
    padding: 16px;
}

@media screen and (min-width: 375px) {
    body {
        padding: 32px;
    }
}