.btn-save {
    background-color: var(--btn-save);
    font-family: var(--inter);
    font-weight: var(--fontPeso);
    color: black;
    font-size: 1rem;
    margin-bottom: 40px;

    border: none;
    border-radius: 8px;

    width: 100%;
    max-width: 704px;
    height: 56px;
}