.setting select {
    background: rgba(255, 255, 255, 0.16);
    opacity: 0.64;
    color: var(--text);

    border: none;
    border-radius: 8px;
    padding-left: 14px;

    height: 56px;
    width: 100%;
    max-width: 343px;
}

.setting option {
    color: black;
}