.description-data {
    background: rgba(255, 255, 255, 0.16);
    color: var(--text);
    font-family: var(--inter);
    font-weight: var(--fontPeso);

    border: none;
    border-radius: 8px;
    padding-left: 14px;
    margin: 16px 0 40px;

    height: 80px;
    width: 100%;
    max-width: 343px;
}