.itens {
    display: grid;

    height: 100%;
}

.itens a {
    display: flex;
    align-items: center;

    margin-bottom: 16px;
}

.itens img {
    width: 48px;
    margin-right: 16px;
}

.itens a p {
    color: var(--text);
    font-family: var(--inter);
    font-weight: var(--fontPeso);
    font-size: 0.9rem;
}

.comunidade a p {
    opacity: 0.56;
}