.menu-hamburguer {
    position: absolute;
    top: 85px;
    right: 16px;
    display: block;
    padding: 24px;
    margin-bottom: 40px;

    border-radius: 8px;
    background-color: var(--menu-hamburger);

    width: 254px;
    height: 571px;

}

hr {
    margin: 8px 0;
}