.menu-hamburguer {
    position: absolute;
    top: 65px;
    right: 16px;
    display: block;
    padding: 24px;

    border-radius: 8px;
    background-color: var(--menu-hamburger);

    width: 254px;

}