header {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */

    height: 56px;
}

.header {
    display: grid;

    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 15% 70% 15%;
}

.logo {
    grid-column-start: 1;
    grid-column-end: 2;
}

.search-container {
    grid-column-start: 2;
    grid-column-end: 3;
}

.container-check {
    grid-column-start: 3;
    grid-column-end: 4;

    align-items: center;
}

/* .container-user {
    grid-column-start: 3;
    grid-column-end: 4;
} */

@media screen and ( min-width: 1200px ) {
    
}