header {
    height: 56px;
}

.header {
    display: grid;

    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 15% 70% 15%;
}

.logo {
    grid-column-start: 1;
    grid-column-end: 2;
    
    height: 56px;
    display: grid;
    align-items: center;
}

.logo img {
    width: 100%;
}

.search-container {
    grid-column-start: 2;
    grid-column-end: 3;
}

.container-check {
    grid-column-start: 3;
    grid-column-end: 4;

    height: 56px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and ( max-width: 460px ) {
    .header {
        display: grid;
    
        grid-template-columns: 45% 40% 15%;
    }
}