.search-container {
    display: flex;
    height: 56px;
    justify-content: end;
}

#search {
    display: none;
    width: 100%;
    max-width: 752px;
    height: 56px;
    background: rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 8px;
    padding-left: 14px;
    margin: 0 40px;
}

@media screen and ( min-width: 460px ) {

    .search-container .title-img {
        display: none;
    }

    #search {
        display: block;
    }
}

@media screen and ( min-width: 1200px ) {
    .search-container {    
        display: flex;
        justify-content: center;
    }
}