.highlight {
    display: flex;
    justify-content: center;
}

.btn-highlight {
    width: 100%;
    font-size: 1rem;
    color: var(--text);
    font-family: var(--inter);
    font-weight: var(--fontPeso);
    background-color: rgba(80, 129, 251, 0.08);

    border: none;
    border-radius: 8px;

    max-width: 704px;
    height: 56px;
    margin-bottom: 40px;
}