.card__edit {
    background-color: rgba(0, 0, 0, 0.16);

    border-radius: 8px;
    margin: 40px 0 32px 0;
    height: max-content;
}

@media screen and ( min-width: 1200px ) {
    main {
        display: grid;
        grid-template-columns: 20% auto;
    }

    .menu {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #result {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .card__edit {
        max-width: 100%;
        margin-right: 12px;
        margin-left: 12px;
    }
}