.card__dados {
    padding: 24px;
}

.card__title {
    font-family: var(--inter);
    font-weight: 700;
    color: var(--text);

    margin-bottom: 8px;
}

.card__description {
    font-family: var(--inter);
    font-weight: var(--fontPeso);
    color: var(--text);
    opacity: 0.8;

    word-wrap:break-word;
    margin-bottom: 24px;
}