.setting select {
    background: rgba(255, 255, 255, 0.16);
    opacity: 0.64;
    color: var(--text);

    border: none;
    border-radius: 8px;
    padding-left: 14px;

    height: 56px;
    width: 100%;
    max-width: 344px;
}

.setting option {
    color: black;
}

@media screen and ( min-width: 375px) {
    .setting select {
        margin: 0 8px 0 0;
    }
}

@media screen and ( min-width: 1200px) {
    .setting select {
        margin: 0;
    }
}