.setting p {
    color: var(--text);
    font-family: var(--inter);
    font-weight: var(--fontPeso);
    font-size: 0.8rem;
    letter-spacing: 0.4em;
    text-transform: uppercase;

    margin-bottom: 16px;
}

@media screen and ( min-width: 375px) {
    .setting div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 32px;
    }
}

@media screen and ( min-width: 1200px) {
    .setting div {
        display: grid;
        justify-content: normal;
    }
}