.title-data {
    background: rgba(255, 255, 255, 0.16);
    color: var(--text);
    font-family: var(--inter);
    font-weight: var(--fontPeso);

    border: none;
    border-radius: 8px;
    padding-left: 14px;


    height: 56px;
    width: 100%;
    max-width: 704px;
    display: flex;
    justify-content: center;
}